.chat-container {
  width: 35%; 
  padding: 0;
  padding: 2rem;
  border-radius: 8px;
  background-color: #FFD700;
  margin-bottom: 3rem;
}

.chatbox {
  color: black;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
  height: 450px;
  overflow-y: scroll;
}

.edit-flex {
  align-self: flex-start;
}


.other-message {
  padding: 8px;
  border: 8px;
  color: black;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
}

.other-message::after {
  content: "";
  height: 1rem;
  width: 1rem;
  position: absolute;
  background-color: white;
  bottom: 0px;
  left: -8px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.username-title {
  font-size: 12px;
}

.current-user-message {
  padding: 8px;
  border: 8px;
  color: white;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
}

.current-user-message::after {
  content: "";
  height: 1rem;
  width: 1rem;
  position: absolute;
  background-color: black;
  bottom: 0px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}