.game-image {
  margin: 2rem;
}

.flashcard-select {
  background-color: #e1ad01;
  color: black;
  border: 2px solid white;
  margin: 1rem;
  width: 160px;
}

.flashcard-select:hover {
  border: 2px solid black;
}

.game-introduction {
  width: 50%;
  border-right: 2px solid #e1ad01;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.game-container {
  width: 50%;
  background-color: white;
  height: auto;
  min-height: 600px;
  margin: 0 1.5rem 36px 1.5rem;
  padding: 1rem;
}

.triviaBtn:hover {
  border: 2px solid black;
}

.game-vietnamese {
  background-image: url("https://media.istockphoto.com/id/498697166/vector/limestone-rocks-and-traditional-sailboat-in-sea-bay.jpg?s=612x612&w=0&k=20&c=LmdBS3Q5qEc_g2ZJAGcWBVJaxtsl8reNztnqUpqyrpY=");
  background-repeat: no-repeat;
  background-size: 100%;
}

.game-chinese {

}

.game-korean {
  background-image: url("https://imgs.search.brave.com/NFOW-Luvz8iX1LDwKrqhoDKw3ArPwIJCfWul5iqISH0/rs:fit:808:972:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzAzLzBh/LzcyLzAzMGE3MjJi/M2Y0ZGVkNzZjNGNl/ZWE0NjUzN2E5NmY1/LmpwZw");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

.game-japanese {
  background-image: url("https://imgs.search.brave.com/i5-NK18zJ0pIxamrcZWVLWimpD_BLdgtZoh-_IphohI/rs:fit:1200:1192:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzZhLzQ5/L2U3LzZhNDllNzU0/OWM3ZDU4OTc0ZmNj/MDVjZmY0Y2IzMTU1/LmpwZw");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: 70%;
}

.game-bangladesh {

}