.game-image {
  margin: 2rem;
}

.flashcard-select {
  background-color: #e1ad01;
  color: black;
  border: 2px solid white;
  margin: 1rem;
  width: 160px;
}

.flashcard-select:hover {
  border: 2px solid black;
}

.game-introduction {
  width: 50%;
  padding: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.game-intro-title {
  position: relative;
  font-size: 60px;
  font-family: 'Voltaire', sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  background: #e1ad01;
  color: black;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  width: 7em;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-shadow:-1px 1px white, -2px 2px white, -3px 3px 3px white, -4px 4px white, -5px 5px white, -6px 6px 3px white;
}

.game-language {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce 3s infinite; /* referring directly to the animation's @keyframe declaration */
  position: absolute;
  font-size: 15px;
  rotate: 40deg;
  top: -30%;
  right: -12%;
}

span.game-intro-line-two {
  text-shadow: 1px -1px #e1ad01, 2px -2px #e1ad01, 3px -3px 3px #e1ad01, 4px -4px #e1ad01, 6px -6px #e1ad01, 6px -6px 3px #e1ad01;
  background: black;
  color: white;
  display: block;
  position: absolute;
  width: 230px;
  left: 22%;
  top: 90%;
}

.game-description {
  position: absolute;
  background: white;
  padding: 8px;
  text-align: center;
  width: 600px;
  bottom: 7%;
}

.game-container {
  width: 50%;
  background-color: white;
  height: auto;
  min-height: 600px;
  margin: 0 1.5rem 36px 1.5rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 1rem;
}

.triviaBtn:hover {
  border: 2px solid black;
}

.game-vietnamese {
  background-image: url("https://img.freepik.com/premium-vector/beautiful-rice-field-landscape-illustration-valleys-up-down-blue-skies_142963-518.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% 50%;
}

.game-chinese {
  background-image: url("https://img.freepik.com/free-vector/watercolor-chinese-style-background_52683-96103.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% 50%;
}

.game-korean {
  background-image: url("https://imgs.search.brave.com/NFOW-Luvz8iX1LDwKrqhoDKw3ArPwIJCfWul5iqISH0/rs:fit:808:972:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzAzLzBh/LzcyLzAzMGE3MjJi/M2Y0ZGVkNzZjNGNl/ZWE0NjUzN2E5NmY1/LmpwZw");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

.game-japanese {
  background-image: url("https://imgs.search.brave.com/i5-NK18zJ0pIxamrcZWVLWimpD_BLdgtZoh-_IphohI/rs:fit:1200:1192:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzZhLzQ5/L2U3LzZhNDllNzU0/OWM3ZDU4OTc0ZmNj/MDVjZmY0Y2IzMTU1/LmpwZw");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 70%;
}

.game-bangladesh {
  background-image: url("https://pbs.twimg.com/media/EVRz3yIVAAAVK-F.png:large");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% 50%;
}

.game-default-background {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/743/361/small/the-diverse-group-of-people-entrepreneurs-or-office-workers-isolated-on-white-background-multinational-company-old-and-young-men-and-women-standing-together-flat-cartoon-illustration-vector.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: bottom;
}
