.game-image {
  margin: 2rem;
}

.flashcard-select {
  background-color: #e1ad01;
  color: black;
  border: 2px solid white;
  margin: 1rem;
  width: 160px;
}

.flashcard-select:hover {
  border: 2px solid black;
}

.game-introduction {
  width: 50%;
  border-right: 2px solid #e1ad01;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.game-container {
  width: 50%;
  background-color: white;
  height: auto;
  min-height: 600px;
  margin: 0 1.5rem 36px 1.5rem;
  padding: 1rem;
}

.triviaBtn:hover {
  border: 2px solid black;
}

.game-vietnamese {
  background-image: url("https://media.istockphoto.com/id/498697166/vector/limestone-rocks-and-traditional-sailboat-in-sea-bay.jpg?s=612x612&w=0&k=20&c=LmdBS3Q5qEc_g2ZJAGcWBVJaxtsl8reNztnqUpqyrpY=");
  background-repeat: no-repeat;
  background-size: 100%;
}

.game-chinese {

}

.game-korean {

}

.game-japanese {

}

.game-bangladesh {
  
}