.trivia-restartBtn {
  background-color: #e1ad01;
  color: black;
}

.trivia-restartBtn:hover {
  border: 2px solid black;
}

.trivia-question {
  color: black;
  margin: 1rem;
}

.trivia-options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px; /* optional, adds some space between items */
}

.trivia-option {
  background-color: #ccc; /* optional, adds some color to items */
  padding: 20px;
  height: 100px;
  width: 150px;
}

.option-selected {
  background-color: #e1ad01;
}

.correct {
  font-size: 50px;
  color: aquamarine;
  text-align: center;
  -webkit-text-stroke: 2px black;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px  1px 0 black,
                1px  1px 0 black;
}

.warning-banner {
  background-color: red;
  padding: 1rem;
  font-size: 1rem;
}

.fun-fact {
  color: black;
  padding: 1rem;
}

.submitAnsBtn {
  background-color: #ccc;
  color: black;
}

.submitAnsBtn:hover {
  border: 2px solid black;
}

.nextBtn {
  background-color: #e1ad01;
  color: black;
}

.nextBtn:hover {
  border: 2px solid black;
}