.calendar {
  min-height: 1000px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calendar-container {
  width: 50%;
  padding: 4rem;
}

.all-events-container {
  width: 50%;
  border-left: 2px solid white;
  padding: 4rem;
  min-height: 1000px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  color: black;
}

.past-event-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.past-event-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 2px solid #e1ad01;
  background-color: white;
  color: black;
}

.past-event-btn:hover {
  border: 2px solid #e1ad01;
}

.current-event-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 2px solid #e1ad01;
  background-color: white;
  color: black;
}

.current-event-btn:hover {
  border: 2px solid #e1ad01;
}

.event-highlight {
  background-color: #e1ad01;
}

.current-events {
  margin-top: 3rem;
}

.current-date {
  background-color: #e1ad01;
}

.calendar-eventBtn {
  background-color: #e1ad01;
  margin-top: 1rem;
}

.calendar-eventBtn:hover {
  border: 2px solid black;
}