.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
  border: 2px solid white;
}

.avatar.image {
  object-fit: cover;
}

.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(83, 83, 83);
  border-radius: 5px;
}

.camera-span {
  background-color: rgb(230, 230, 230);
  color: black;
  padding: 10px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 50%;
  width: 45px;
  text-align: center;
  top: 310px;
  left: 970px;
}

.camera-span:active {
  background-color: rgb(180, 180, 180);
}

.camera-flex {
  display: flex;
  flex-direction: column;
}

.camera-img {
  align-self: flex-end;
  margin-top: -1em;
  margin-right: -1em;
}



