.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-post-container {
  width: 40%;
  color: black;
  background-color: white;
  border-top: 4px solid #e1ad01;
  border-bottom: 4px solid #e1ad01;
  padding: 12px;
  margin-top: 2rem;
}

form {
  width: 500px;
}

form input {
  color: black;
}

.deleteBtn {
  background-color: #d21404;
  color: white;
  margin: 10px;
}

.cancelBtn {
  background-color: #e1ad01;
}

.cancelBtn:hover {
  border-color: white;
}

.create-post-container {
  background-color: white;
  color: black;
  width: 40%;
  padding: 1.5rem;
  border-top: 4px solid #e1ad01;
  border-bottom: 4px solid #e1ad01;
}