.errorBanner {
  background-color: red;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.school-logo {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.sign-in-form {
  display: flex;
  margin-top: 3rem;
}

.sign-in-info {
  background-color: white;
  color: black;
  padding: 1rem;
}

.depauw-sign-in-logo {
  width: 600px;
}

.progress {
  height: 4px;
  background-color: grey;
}

.progress-bar-danger {
  height: 4px;
  width: 25%;
  background-color: #e90f10;
}

.progress-bar-easy-warning{
  height: 4px;
  width: 50%;
  background-color: #ffad00;
}

.progress-bar-hard-warning{
  height: 4px;
  width: 75%;
  background-color: #ffad00;
}

.progress-bar-success{
  height: 4px;
  background-color: #02b502;
}