.registration-form {  
  margin: 2rem;
  background-color: white;
  width: 40%;
  color: black;
  padding: 1rem;
  border-top: 5px solid #e1ad01;
  border-bottom: 5px solid #e1ad01;
}

.school-logo {
  /* margin: 1rem 2rem 2rem 0; */
}

.signUpBtn:hover {
  background-color: brown;
  border-color: black;
}

.selectCountry {
  height: 42.5px;
  width: 100%;
}