.errorBanner {
  background-color: red;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.school-logo {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.sign-in-form {
  display: flex;
  margin-top: 3rem;
}

.sign-in-info {
  background-color: white;
  color: black;
  padding: 1rem;
}

.depauw-sign-in-logo {
  width: 600px;
}