.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid white;
  width: 1000px;
  margin: 10px;
  background-color: white;
  background-image: url('./depauw-remove-background.png');
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 90% 110%;
}

.card-top {
  padding: 0;
  min-width: 100%;
  border-bottom: 2px solid #c6c6d0;
}

.card-title {
  color: black;
}

.card-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid black;
}

.card-date {
  font-size: 0.75rem;
}

.expand-card {
  background: none;
  color: black;
  border: none;
  font-size: 30px;
  padding: 1rem;
}

.expand-card:hover {
  border: none;
}

.content-box {
  width: 98%;
  align-items: center;
  min-height: 150px;
  height: auto;
  background-color: white;
  color: black;
  padding: 1rem;
}

.content-box p {
  padding-left: 1rem;
}

.content-img {
  margin: 10px;
}