.calendar {
  min-height: 1000px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calendar-container {
  width: 50%;
  padding: 4rem;
}

.all-events-container {
  width: 50%;
  border-left: 2px solid white;
  padding: 4rem;
  min-height: 1000px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  color: black;
}

.current-events {
  margin-top: 3rem;
}

.current-date {
  background-color: #e1ad01;
}
