.game-image {
  margin: 2rem;
}

.flashcard-select {
  background-color: aliceblue;
  margin: 1rem;
}

.flashcard-select:hover {
  border: 2px solid black;
}

.game-introduction {
  width: 50%;
  border-right: 2px solid #e1ad01;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.game-container {
  width: 50%;
  background-color: white;
  height: 500px;
  margin: 0 1.5rem 36px 1.5rem;
}