.likeBtn:hover {
  background-color: #E5F501;
  border: 2px solid black;
  transition: all 0.2s ease-in;
  color: black;
}

.dislikeBtn:hover {
  background-color: #F7130C;
  transition: all 0.2s ease-in;
  border: 2px solid black;
}
