.toolBar-container {
  width: 100%;
  border-top: 2px solid #c6c6d0;
  padding: 0;
  background-color: white;
  border-radius: 12px;
}

.commentBtn {
  background-color: #e1ad01;
  color: black;
}

.commentBtn:hover {
  border: 2px solid black;
}

.comments-box {
  min-height: 180px;
  border: 2px solid #c6c6d0;
  border-radius: 8px;
  margin: 12px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments-box-content {
  background-color: #d1ccc1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow-y: scroll;
  min-height: 200px;
  max-height: 350px;
}

.comments-box-format {
  display: flex;
  gap: 0px;
  align-items: flex-start;
  flex-direction: column;
  background-color:#ffffff;
  border-radius: 20px;
  padding: 10px 15px;
}

.comment-writing {
  width: 100%;
}

.sendCommentBtn {
  background-color: #e1ad01;
  color: black;
}

.sendCommentBtn:hover {
  border: 2px solid black;
}