* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

nav {
  background-color: white;
  padding: 0;
}

.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-left: 0.38em;
  margin-top: -0.25em;
}


.depauw-logo {
  margin: 10px 0 0 1rem;
}

.search-bar {
  width: 400px;
}

.dropdown-box {
  position: fixed;
  bottom: 2%;
  right: 1%;
  width: 50px;
  height: 45px;
  border-radius: 8px;
}

.dropdown-list {
  width: 100px;

}

li.dropdown {
  width: 45px;
  height: 45px;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  text-align: right;
}

li.dropdown ul {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 45px;
  right: 0px;
}

li.dropdown ul li a {
  display: block;
  background-color: white;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

li.dropdown:hover ul {
  display: block;
}


input[type="text"], input[type="password"], input[type="url"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="url"]:focus {
  outline: none;
  border-color: #e1ad01;
  box-shadow: 0 0 5px #e1ad01;
  color: black;
}

select {
  appearance: none;
  background-color: #f7f7f7;
  color: #333;
  border: 2px solid #ccc;
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border-radius: 4px;
}

select:focus {
  outline: none;
  border: 2px solid #e1ad01;
}

.nav-links {
  margin-right: 1rem;
  padding: 0;
  color: #e1ad01;
}

.title {
  margin-top: 10px;
  margin-bottom: 16px;
}

.select-create {
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Style the arrow icon */

.select-create::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #555;
  pointer-events: none;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav-icon:hover {
  cursor: pointer;
  color: black
}
